

.admindash {
    
    height: auto;
    position: relative;
    width: 100%;
    overflow: hidden; 
  }
  
  .admindash::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #616163;
    filter: blur(2px); 
    z-index: -1; 
  }
  .admindash::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); 
    z-index: -1;
  }
  .footers{
    background-color: #272729;

  }